.track-info {
  width: 100%;
  max-width: 400px;
  z-index: 999 !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #3B404F;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 134px rgba(86, 93, 108, 0.45);
  border-radius: 0.5rem;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

.info-item {
  display: flex;
  align-items: flex-end;
  border: 3px solid green;
}

.track-info-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    color: #ffffffde;
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
  }
}

.track-info-actions {
  display: flex;

  button {
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.track-info-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0rem 1rem;
  box-sizing: border-box;
}

.track-info-row {
  display: block;
  box-sizing: border-box;
  width: 100%;
  grid-column: span 2;
  text-align: left;

  &:nth-last-child(1),
  &:nth-last-child(2) {
    grid-column: span 1;
  }
}

.track-info-row {
  display: grid;
  gap: .25rem;
  width: 100%;
  box-sizing: border-box;

  input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0.75rem;
    gap: 0.75rem;
    background: #565D6C;
    border: 1px solid #ffffff1a;
    border-radius: 7px;
    color: var(--text-color-main);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;

    &:disabled {
      background: #3B404F;
    }

    &:focus {
      border: 1px solid #FFD700;
      outline: none;
    }
  }

  label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
  }
}

.track-info-footer {
  display: flex;
  justify-content: end;
  width: 100%;
  background: #2A2F3C;
  padding: 0.75rem .5rem;
  box-sizing: border-box;
  gap: 0.5rem;

  button {
    grid-template-columns: auto;
    width: max-content;
    border-radius: .5rem;
    padding: .35rem 1rem;
  }
}