.track-info{
  border-radius: 0.2rem;
  border: 1px solid var(--border-secondary);
  padding: 0.5rem;
  color: var(--text-color-primary);
  top: 20px;
  position: sticky;
  z-index: 999 !important;
}

.info-item {
  display: flex;
  align-items: flex-end;
  border: 3px solid green;
}