:root {
  --color-primary: #409bc7;
  --color-secondary: #f68d1e;
  --color-tertiary: #97ba3b;
  --background-main: #101418;
  --background-primary: #13171b;
  --background-secondary: #23242b;
  --text-color-main: rgba(255, 255, 255, 0.87);
  --text-color-primary: #a9a9a9;
  --border-primary: #232a31;;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-main) ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  margin: 1em;
}

input{
  padding: 0.4em;
}

.presentation-card{
  /* background-color: var(--background-primary); */
}

.selection-set-card{
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--text-color-main);
}

.switching-set-card{
  background-color: var(--background-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color-main);
}

.track-card{
  border-radius: 0.2rem;
  border: 1px solid var(--text-color-main);
  padding: 0.5rem;
  color: var(--text-color-primary)
}

.track-card:hover{
  background-color: var(--background-primary);
  color: var(--text-color-main)
}

#tab-text{
  color: white;
}