@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #409bc7;
  --color-secondary: #f68d1e;
  --color-tertiary: #97ba3b;
  --background-main: #101418;
  --background-primary: #13171b;
  --background-secondary: #23242b;
  --text-color-main: rgba(255, 255, 255, 0.87);
  --text-color-primary: #a9a9a9;
  --border-primary: #232a31;
  --border-secondary: #65656e;

  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color-main);
  background-color: var(--background-main) ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, input::file-selector-button {
  border-radius: 8px;
  border: none;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  margin: 1em;
}

input::file-selector-button {
  padding: 0.7em 1em;
}

input{
  padding: 0.4em;
}

/* .presentation-card{
} */

.selection-set-card{
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--text-color-main);
}

.switching-set-card{
  background-color: var(--background-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color-main);
  min-width: 200px;
}

.track-card{
  border-radius: 0.2rem;
  border: 1px solid var(--border-secondary);
  padding: 0.5rem;
  color: var(--text-color-primary)
}

.track-card:hover{
  background-color: var(--background-primary);
  color: var(--text-color-main)
}

#tab-text{
  color: white;
}